body {
  background: #eee;
  font-family: sans-serif;
  font-size:16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 7px;
}

.title {
  background: #e3f4ff;
  margin: 7px 0px 0px 0px;
  padding: 7px;
}

.content {
  background: #e3f4ff;
  margin: 7px 0px 0px 0px;
  padding: 12px 7px 12px 7px;
}

.button-container {
  background: #e3f4ff;
  margin: 7px 0px 0px 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align:center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 7px 20px;
  margin-left:auto;
  margin-right:auto;
}